<a href="https://colab.research.google.com/github/YinmiAlas/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_DS_Unit_1_Sprint_Challenge_2_Statistics_Yinmi_Alas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# TODO
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving crx.data to crx.data

In [32]:
#renaming columns headers
columns = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7',
           'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 
           'A14', 'A15', 'A16']
credit_cards = pd.read_csv('crx.data', header=None, names=columns, na_values='?')
credit_cards.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

In [33]:
credit_cards.tail()

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

In [0]:
#i drop the missing values for the entire data 
#is not going to be countable below anymore
credit_cards.dropna(inplace=True)

In [35]:
credit_cards.shape

(653, 16)

In [36]:
#replacing values to better read
credit_cards['A16'] = credit_cards['A16'].replace({'+':'approved', '-':'denied'})
credit_cards.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15       A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0  approved
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560  approved
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824  approved
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3  approved
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0  approved

In [37]:
credit_cards.tail()

    A1     A2      A3 A4 A5  A6  A7  ...  A10 A11 A12  A13    A14  A15     A16
685  b  21.08  10.085  y  p   e   h  ...    f   0   f    g  260.0    0  denied
686  a  22.67   0.750  u  g   c   v  ...    t   2   t    g  200.0  394  denied
687  a  25.25  13.500  y  p  ff  ff  ...    t   1   t    g  200.0    1  denied
688  b  17.92   0.205  u  g  aa   v  ...    f   0   f    g  280.0  750  denied
689  b  35.00   3.375  u  g   c   h  ...    f   0   t    g    0.0    0  denied

[5 rows x 16 columns]

In [38]:
#No missing values
credit_cards.isnull().sum()

A1     0
A2     0
A3     0
A4     0
A5     0
A6     0
A7     0
A8     0
A9     0
A10    0
A11    0
A12    0
A13    0
A14    0
A15    0
A16    0
dtype: int64

In [0]:
#continuous values should be treated as float
credit_cards['A11'] = pd.to_numeric(credit_cards['A11'], downcast='float')
credit_cards['A14'] = pd.to_numeric(credit_cards['A14'], downcast='float')
credit_cards['A15'] = pd.to_numeric(credit_cards['A15'], downcast='float')

In [41]:
#cheking float values
#all continuous values converted to float
credit_cards.head()

  A1     A2     A3 A4 A5 A6 A7  ...  A10  A11 A12  A13    A14    A15       A16
0  b  30.83  0.000  u  g  w  v  ...    t  1.0   f    g  202.0    0.0  approved
1  a  58.67  4.460  u  g  q  h  ...    t  6.0   f    g   43.0  560.0  approved
2  a  24.50  0.500  u  g  q  h  ...    f  0.0   f    g  280.0  824.0  approved
3  b  27.83  1.540  u  g  w  v  ...    t  5.0   t    g  100.0    3.0  approved
4  b  20.17  5.625  u  g  w  v  ...    f  0.0   f    s  120.0    0.0  approved

[5 rows x 16 columns]

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [42]:
# TODO
#getting each class their data
approved = credit_cards[credit_cards['A16']=='approved']
approved.head()

  A1     A2     A3 A4 A5 A6 A7  ...  A10  A11 A12  A13    A14    A15       A16
0  b  30.83  0.000  u  g  w  v  ...    t  1.0   f    g  202.0    0.0  approved
1  a  58.67  4.460  u  g  q  h  ...    t  6.0   f    g   43.0  560.0  approved
2  a  24.50  0.500  u  g  q  h  ...    f  0.0   f    g  280.0  824.0  approved
3  b  27.83  1.540  u  g  w  v  ...    t  5.0   t    g  100.0    3.0  approved
4  b  20.17  5.625  u  g  w  v  ...    f  0.0   f    s  120.0    0.0  approved

[5 rows x 16 columns]

In [43]:
denied = credit_cards[credit_cards['A16']=='denied']
denied.head()

   A1     A2    A3 A4 A5  A6  A7  ...  A10  A11 A12  A13    A14  A15     A16
70  b  32.33  7.50  u  g   e  bb  ...    f  0.0   t    s  420.0  0.0  denied
72  a  38.58  5.00  u  g  cc   v  ...    f  0.0   t    g  980.0  0.0  denied
73  b  44.25  0.50  u  g   m   v  ...    f  0.0   f    s  400.0  0.0  denied
74  b  44.83  7.00  y  p   c   v  ...    f  0.0   f    g  160.0  2.0  denied
75  b  20.67  5.29  u  g   q   v  ...    t  1.0   f    g  160.0  0.0  denied

[5 rows x 16 columns]

In [48]:
#For the 6 continuous features, how are they different when split between the two class labels?
different_grouped = credit_cards.groupby('A16')
different_grouped.first()

         A1     A2   A3 A4 A5 A6  A7     A8 A9 A10  A11 A12 A13    A14  A15
A16
approved  b  30.83  0.0  u  g  w   v  1.250  t   t  1.0   f   g  202.0  0.0
denied    b  32.33  7.5  u  g  e  bb  1.585  t   f  0.0   t   s  420.0  0.0

In [45]:
 #how the features are different when grouped by the two class labels
different_grouped.head()

   A1     A2     A3 A4 A5  A6  A7  ...  A10  A11 A12  A13    A14    A15       A16
0   b  30.83  0.000  u  g   w   v  ...    t  1.0   f    g  202.0    0.0  approved
1   a  58.67  4.460  u  g   q   h  ...    t  6.0   f    g   43.0  560.0  approved
2   a  24.50  0.500  u  g   q   h  ...    f  0.0   f    g  280.0  824.0  approved
3   b  27.83  1.540  u  g   w   v  ...    t  5.0   t    g  100.0    3.0  approved
4   b  20.17  5.625  u  g   w   v  ...    f  0.0   f    s  120.0    0.0  approved
70  b  32.33  7.500  u  g   e  bb  ...    f  0.0   t    s  420.0    0.0    denied
72  a  38.58  5.000  u  g  cc   v  ...    f  0.0   t    g  980.0    0.0    denied
73  b  44.25  0.500  u  g   m   v  ...    f  0.0   f    s  400.0    0.0    denied
74  b  44.83  7.000  y  p   c   v  ...    f  0.0   f    g  160.0    2.0    denied
75  b  20.67  5.290  u  g   q   v  ...    t  1.0   f    g  160.0    0.0    denied

[10 rows x 16 columns]

In [0]:
from scipy.stats import  ttest_ind

In [59]:
#Exploring de 6 continuous values by class label
print(credit_cards.groupby('A16')['A2'].mean())
print(credit_cards.groupby('A16')['A3'].mean())
print(credit_cards.groupby('A16')['A8'].mean())
print(credit_cards.groupby('A16')['A11'].mean())
print(credit_cards.groupby('A16')['A14'].mean())
print(credit_cards.groupby('A16')['A15'].mean())

A16
approved    33.845473
denied      29.562269
Name: A2, dtype: float64
A16
approved    5.971943
denied      3.882325
Name: A3, dtype: float64
A16
approved    3.475186
denied      1.223725
Name: A8, dtype: float64
A16
approved    4.716216
denied      0.666667
Name: A11, dtype: float32
A16
approved    164.621628
denied      193.408966
Name: A14, dtype: float32
A16
approved    2009.726318
denied       187.974792
Name: A15, dtype: float32

In [61]:
#select one feature that is extremely different between the classes
#there is a small different of class label betweem A15 
#lets compare the  two groups
ttest_ind(approved['A15'], denied['A15'])

Ttest_indResult(statistic=4.475369610442714, pvalue=9.003921948193812e-06)

In [62]:
#another feature that is notably less different
#there is small different between A3
ttest_ind(approved['A3'], denied['A3'])

Ttest_indResult(statistic=5.400813416576192, pvalue=9.310154396147606e-08)

In [64]:
# i will do one more
#in this case denied values is more than approved
#way different between above because the ones above approve is more than denied 
ttest_ind(approved['A14'], denied['A14'])

Ttest_indResult(statistic=-2.1822191366686905, pvalue=0.029450117285686066)

In [0]:
from scipy.stats import  chisquare

In [70]:
#For the categorical features, explore by creating "cross tabs" 
cross = pd.crosstab(credit_cards['A16'], credit_cards['A1'])
cross

A1          a    b
A16
approved   95  201
denied    108  249

In [71]:
chisquare(cross, axis=None)

Power_divergenceResult(statistic=101.00306278713629, pvalue=9.458202945413513e-22)

In [73]:
cross2 = pd.crosstab(credit_cards['A16'], credit_cards['A6'])
cross2

A6        aa   c  cc   d   e  ff   i  j   k   m   q  r   w   x
A16
approved  19  60  29   7  14   7  14  3  13  16  49  2  33  30
denied    33  73  11  19  10  43  41  7  35  22  26  1  30   6

In [74]:
chisquare(cross2, axis=None)

Power_divergenceResult(statistic=376.99693721286366, pvalue=2.365893078307223e-63)

In [77]:
cross3 = pd.crosstab(credit_cards['A16'], credit_cards['A7'])
cross3

A7        bb  dd  ff   h  j  n  o    v  z
A16
approved  24   2   8  87  3  2  1  163  6
denied    29   4  46  50  5  2  1  218  2

In [78]:
chisquare(cross3, axis=None)

Power_divergenceResult(statistic=1768.9509954058192, pvalue=0.0)

In [79]:
cross4 = pd.crosstab(credit_cards['A16'], credit_cards['A12'])
cross4

A12         f    t
A16
approved  151  145
denied    200  157

In [80]:
chisquare(cross4, axis=None)

Power_divergenceResult(statistic=11.47166921898928, pvalue=0.009430579350519394)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

[link text](https://)*Your words here!*


1   I did run 3 ttest the first continuou was a lot different between the classes when i took the mean so i decided to run the ttest which the null hypothesis was reject because th p-value is is extremely small, we can reject the Null hypothesis the second was the same so we can reject but in the third one was way different because the p-value is extremely big, we cannot reject the Null hypothesis.


2  I did 4 chisquare in the first two was reject the null hypothesis because p-value was small in the last two the p-value was big so we cannot reject the null hypotesis.


3  In my opinion was everything because is very confused undertending all the same time  but i love challange.

## Part 4 - Bayesian vs Frequentist Statistics

Using a minimum of 2-3 sentences, give an explanation of Bayesian and Frequentist statistics, and then compare and contrast these two approaches to statistical inference.

*Your words here!

In my opinion preffer Bayesian becuase i was doing some examples and is way different about coding than Frequentist statistics

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

## Part 4:

Give an extra awesome explanation of Bayesian vs Frequentist Statistics. Maybe use code or visualizations, or any other means necessary to show an above average grasp of these high level concepts.

In [0]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.